* {
    box-sizing: border-box;
  }

  .link {
      cursor: pointer;
  }
  

  .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .imageDiv{
    height: 35%;  
}

.detailDiv{
    height: 65%;  
    overflow: auto;
}

 /* Style the counter cards */
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 280px;
  }

  .pokemonImage{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

